// Colors
$main-color: #6e9c9f;

$text-basic-color: #000;
$text-current_navigation_path-color: #909090;
$text-form_labels-color: #868686;
$text-old_price-color: #9c9c9c;
$text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color: #fff;

$background-beige-color: #f1eadc;
$background-main_accent_button-color: #509498;
$additional-accent-color: #998e78;

$background-main-style: rgba(110, 156, 159, 0.77);