.main {
  @extend %container;
  display: flex;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;

  .info-section {
    display: flex;
    flex: 1;
    width: 50%;
    flex-direction: column;
    margin-right: 20px;
  }

  .info-section__text-slider {
    display: flex;
    flex-direction: column;

    .text-slider__text-container {
      display: flex;
      justify-content: flex-end;
      padding: 20px 60px 20px 20px;
    }
  }

  .button-and-scroll-bar-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 60px 40px 40px;
    // margin-top: 30px; // Aligns with the image section on the right
  }

    .info-section__button-container {
      display: flex;
      justify-content: center;
      align-items: center;
  
      .info-section__button-container_arrow {
        width: 67px;
        height: 67px;
        background-color: $background-arrow-style;
      }
  
      .info-section__button-container_button {
        max-width: 243px;
  
        .info-section__button {
          padding: 10px 20px;
          background-color: $main-color;
          color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
          border: none;
          cursor: pointer;
        }
      }
  } 
}

  .info-section__scroll-bar {
    // margin-top: auto;
    // z-index: 10; 56
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 100px;
  }

  .scroll-bar__dot {
    width: 30px;
    height: 4px;
    background-color: $text-old_price-color;
    transition: background-color 0.5s ease;
    cursor: pointer;
  }

  .scroll-bar__dot.active {
    background-color: $text-basic-color;
  }

  .photo-section {
    display: flex;
    flex: 1;
    position: relative;

    .nested-container {
      display: flex;
      justify-content: space-between;
      max-width: 550px;
      width: 100%;
    }
  }

    .nested-container__background-photo-slider {
      flex: 1;
      position: relative;
      min-width: 450px;
      min-height: 500px;
      padding-left: 80px;

      .photo-section__background {
        position: absolute;
        min-width: 50px;
        min-height: 610px;
        width: 100%;
        height: 110%;
        background-color: $background-beige-color; 
        z-index: -1; 
        top: -25%; // Adjusts to meet the header's top
        left: 0;
        // margin-top: -200px;  // [высота header]
        // right: 0;
        bottom: 0;
      }

      .photo-section__slider {
        width: 100%;
        max-width: 400px;
        position: relative;
        z-index: 2;
        // padding-left: 50px;  // Controls horizontal positioning within the section
        // left: ;
        // right: ;
        // top: -10%;

        img {
          display: none;
          max-width: 75%;
        }

        img.active {
          display: block;
        }
      }
    }

    .photo-section__static-images {
      display: flex;  
      position: absolute;
      top: 110px;  // Adjust vertical alignment relative to slider image
      z-index: 3; // Поверх слайдера //
      // transform: translateX(-60%);

      &.photo-section_left-container {
        left: -40px;  // Adjust horizontal position for left image
        // top: 50%;     // Center align or adjust as needed
      }
      
      &.photo-section_right-container {
        right: -470px;  // Adjust horizontal position for right image
        top: 100%;      // Adjust vertical position
      }
      
      .photo-section__static-image-left, 
      .photo-section__static-image-right {
        max-width: 150px; // Size control for static images
      }
    }


        // @media (max-width: 768px) {
        //   .main {
        //     flex-direction: column;
        //     .info-section, .photo-section {
        //       width: 100%;
        //     }
        //   }
        // }
// Медиа-запрос для экранов шириной в диапазоне 430-720px
@media screen and (min-width: $mobile-size) and (max-width: $tablet-size) {
  .title {
    font-size: 2em;
    line-height: 40px;
  }

  .text-slider__text {
    font-size: 1.1em;
    line-height: 44px;
  }

  .info-section__button_open-shop button {
    font-size: 15px;
    line-height: 100%;
  }
  
  .info-section__scroll-bar {
    margin-top: 60px;

    .scroll-bar__dot {
      width: 20px;
      height: 3px;
    }
  }

  .photo-section,
  .nested-container,
  .photo-section__slider {
    display: block;
    max-width: 100%;
  }

  .photo-section__background {
    top: -20%;
  }
}
  // Медиа-запрос для экранов мобильных телефонов шириной 430px и меньше - Настя
  @media (max-width: 430px) {
    .text-slider__title {
      font-size: 2.352941176470588em;
      line-height: 44px;
    }
  
    .text-slider__text {
      font-size: 2.352941176470588em;
      line-height: 44px;
    }
  
    .info-section__button_open-shop button {
      font-size: 2.352941176470588em;
      line-height: 44px;
    }
    
    .info-section__scroll-bar {
      margin-top: 100px;
  
      .scroll-bar__dot {
        width: 20px;
        height: 3px;
      }
    }
  
    .photo-section,
    .nested-container,
    .photo-section__slider {
      display: block;
      max-width: 100%;
    }
  
    .photo-section__background {
      top: -20%;
    }
    


    .info-section__button-container_arrow,
    .photo-section__static-images {
      display: none;
    }
    
    .main {
      width: 100%;
      flex-direction: column;
    }


    // .greeting-area-button-container__button_order-here-arrow {
    //     display: block;
    //     font-size: 16px;
    //     font-weight: 400;
    // }

    // .about-us-pic {
    //     max-width: 380px;
    //     max-height: 277px;
    // }
    // .about-us-pic__image_cup {
    //     width: 100%;
    //     display: block;
    //     stroke-width: 4px;
    //     stroke: $secondary---hard-green; // смена цвета картинки по макету Figma для .svg картинки
    //     bottom: 3%;
    //     left: 3%;
    // }
    // .about-us-pic__rectangle {
    //     width: 390px;
    //     height: 248px;
    //     position: absolute;
    // }
    // .about-us-text,
    // .promotion-text {
    //     width: 100%;
    //     margin: 0;
    //     padding: 20px;
    // }
    // .promotion-pic__rectangle {
    //     width: 375px;
    //     height: 320px;
    //     position: absolute;
    // }
    // .promotion-pic__image_big-cup {
    //     width: 100%;
    //     display: block;
    //     left: 23%;
    // }

    // .map-2 {
    //     display: block;
    // }
    // .map-2__picture,
    // .map-2 {
    //     max-width: 100%;
    // }
    // .addresses {
    //     align-items: center;
    // }
    // .addresses__button-container {
    //     display: block;
        

    // }
}