.shop {
  @extend %container;
}

.item-card {
  display: flex;
  gap: 30px;
}

.item-card__container {
  max-width: 350px;
  width: 100%;
  margin-top: 92px;
  gap: 30px;
}

.item-card__container_photo {
  max-width: 350px;
  height: 478px;
  width: 100%;
  object-fit: contain;
  position:   relative;
}

.item-card__container_photo:hover:after {
  content:    "";

  position:   absolute;
  left:       0;
  top:        0;
  
  max-width: 350px;
  height: 478px;
  width: 100%;
  
  background: $main-color;
  opacity:    64%; 
}

.item-card__container.item-card__container_arrow{
  max-width: 100%;
  display: inline; 
  object-fit: cover;

}

.item-card__container_title {
  margin-top: 24px;
}

.item-card__container_price {
  margin-top: 7px;

  font-family: $font-family;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: $text-old_price-color;
}

.shop__button {
  margin-top: 65px;
  display: flex; 
  justify-content: center;
  margin-bottom: 130px;
  cursor: pointer;
} 

.shop__button_open-shop:hover {
  background-color: $main-color;
  color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
}