.brand,
.brand__container {
   border: 1px solid red;
}

// .brand__info-container {
//    border: 1px solid yellow;
// }

.brand {
   @extend %container;
   width: 70vw;
   // width: 1110px;

   display: flex;
   flex-direction: column;
   margin-bottom: 92px;

   .brand__container {
      display: flex;
      flex-direction: row;
      width: 100%;
      // width: 1108px;
      // height: 487px;
      margin-top: 92px;

      .brand__button-arrow {
         border: none;
         background-color: transparent;
         padding: 20px;
      }
   
      .brand__photo-container {
         position: relative;
         width: 729px;
         height: 487px;

         .brand__photo {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      
      .brand__info-container {
         max-width: 255px;
         min-width: 200px;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         margin-top: 50px;
         margin-bottom: 50px;
   
         .brand__info-container_title,
         .brand__info-container_text {
            margin: 0;
         }
   
         .brand__info-container_link {
            margin: 0;
            color: $main-color;
         }
      }
   }
}