header {
   background-color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
}

.page-checkout {
   @extend %container;
   width: 70vw;
   padding: 100px 0 100px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;

   .page-checkout__title {
      margin: 0;
   }

   .page-checkout__container {
      display: flex;
      flex-direction: row;
      margin: 75px 0 75px 0;
      justify-content: space-between;

      @media screen and (max-width: $tablet-size) {
         flex-direction: column;
         gap: 50px;
      }

      .page-checkout__forms,
      .page-checkout__cart {
         display: flex;
         flex-direction: column;
         gap: 50px;
      }

      .page-checkout__form,
      .page-checkout__cart-sum,
      .page-checkout__cart-paymethod {
         display: flex;
         flex-direction: column;
         gap: 20px;
      }

      .page-checkout__cart-sum__subtitle,
      .page-checkout__cart-paymethod {
         padding-left: 30px;
      }

      .page-checkout__cart-sum__row,
      .page-checkout__cart-sum__row-content {
         display: flex;
         flex-direction: row;
         gap: 75px;
         align-items: center;
         padding: 10px 30px;
         justify-content: space-between;
      }

      .page-checkout__cart-sum__result {
         background-color: $background-beige-color;
      }

      .page-checkout__errormessage {
         color: rgb(172, 0, 0);
         display: none;
      }
   }
}