header {
   background-color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
}

.page-contacts {
   @extend %container;
   width: 70vw;
   padding: 100px 0 100px 0;
   display: flex;
   flex-direction: column;
   gap: 10px;

   .page-contacts__title {
      margin: 0;
   }

   .page-contacts__map {
      width: 100%;
      height: 400px;
      margin: 100px 0 100px 0;

      iframe {
         width: 100%;
         height: 100%;
         border: none;
         filter: grayscale(100%);
      }
   }

   .page-contacts__contacts {
      display: flex;
      flex-direction: row;

      .page-contacts__contacts__item {
         margin-right: 100px;
         display: flex;
         flex-direction: column;
         gap: 20px;
      }
   }

   .page-contacts__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 50px;
      align-items: flex-start;

      .page-contacts__button {
         width: 189px
      }

      .page-contacts__form__success-message {
         width: 350px;
         height: 84px;
         padding: 30px 30px;
         background-color: $background-beige-color;
         text-align: center;
      }
   }
}