.header {
  @extend %container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  //background-color: rgba(255, 255, 255, 0);
  // background-color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
  padding: 33px 0 34px 0;
  top: 0;
  left: 0;
  right: 0;

  .header.scrolling {
    background-color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
  }
}

.main-menu {
  margin-right: 160px; //170px;

  @media screen and (max-width: 1155px) {
    margin-right: 0px;
  }

  @media screen and (max-width: 840px) {
    order: 1;
    position: relative;
  }

  .main-menu.main-menu__burger_open {
    display: flex; 
    transform: translateY(0);
  }
  
  .main-menu__btn-burger {
    display: none;
    width: 30px;
    height: 25px;
    border: 0;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    justify-content: space-between;
  
    @media screen and (max-width: 840px) {
      display: flex;
    }
  }
  
  .main-menu__btn-burger > div {
    width: 100%;
    height: 1px;
    background-color: $text-basic-color;
  }
  
  .main-menu__items.main-menu__open {
    display: flex; 
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    left: -27px;
    transform: translateX(-50%);
    top: calc(100% + 10px);
    z-index: 1000;
  }
}

.phone {
  font-size: 0.8823529411764706em; //15px
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 9px;

  margin-right: 60px; //67px;

  @media screen and (max-width: 1155px) {
    margin-right: 0px;
  }

  @media screen and (max-width: 820px) {
    justify-content: space-evenly
  }

  @media screen and (max-width: 440px) {
    display: none;
  }

  .phone__button-callback {
    background: url(89-JS-3_Project/assets/icon/telephone_icon.svg);
    min-width: 27px;
    min-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
  }
  
  .phone__button-callback:hover {
    background-color: #09716a4b;
  }
  
  .phone__icon {
    max-width: 17px;
    max-height: 17px;
  }
}

.cart {
  display: flex;
  column-gap: 145px;
}

.active-header-link {
  color: $main-color;
  font-weight: bold;
}