.main {
    @extend %container;
    display: flex;
    width: 100%;
    // height: 100vh;
    position: relative;

    .item-container {
        display: flex;

        .item-info-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            .item-info-container__picture {
                display: flex;
            }

            .item-info-container__other {
                display: flex;
            }
            .related-items-container {
                display: flex;
            }
        }

        
    }

}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    margin: 0 5px;
}

.quantity {
    display: flex;
    align-items: center;
  }
  
  .quantity__decrease,
  .quantity__increase {
    width: 30px;
    height: 30px;
    font-size: 18px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  
  .quantity__input {
    width: 50px;
    text-align: center;
    font-size: 16px;
    margin: 0 5px;
  }

  .button__add-to-cart {
    width: 268px;
  }