header {
  background-color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
}

.shop {
  .shop-container { 
    @extend %container;

    margin-top: 174px;
  }
    
  .filter-items {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 130px;
  }
  
  .filter-item {
    padding: 19px 65px;
    border: 1px solid $text-basic-color;
    cursor: pointer;

    @media screen and (max-width: 991px) {
      max-width: 300px;
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  .filter-item.active {
    background-color: $text-basic-color;
    color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
  }
  
  .filter-item:hover {
    background-color: $text-basic-color;
    color: $text-main_colored_buttons_and_quantity_of_goods_in_basketgit-color;
  }
  
  .shop-container__count {
    font-family: $font-family;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #808080;
    margin-top: 92px;
  }
  
  .shop-container__cards {
    margin-top: 65px;
  }

  .item-card {
    display: flex;
    gap: 30px;
    margin-top: 92px;
    flex-wrap: wrap
  }

  .item-card__container {
    max-width: 350px;
    width: 100%;
    height: 558px;
  }

  .item-card__container_photo {
    max-width: 350px;
    height: 478px;
    width: 100%;
    //object-fit: contain;
    position:   relative;
  }

  .item-card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-main-style;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex; 
    justify-content: center; 
    align-items: center;
  }

  .item-card__container:hover .item-card__overlay {
    opacity: 1;
  }
  
  .item-card__container_arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item-card__container_title {
    margin-top: 24px;
  }
  
  .item-card__container_price {
    margin-top: 7px;
  
    font-family: $font-family;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: $text-old_price-color;
  }

  .shop-container__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .shop-container__pagination-button {

  }
}
